.main {
    height: 1800px;
    width: 1500px;
    
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
 
background: rgb(70,40,4);
background: linear-gradient(90deg, rgba(70,40,4,1) 0%, rgba(172,135,12,1) 25%, rgba(187,156,30,1) 32%, rgba(70,40,4,1) 100%);
}
    
    


.box1 {
    height: 515px;
   width: 1500px;
    font-family: Hind , sans-serif;
    text-align: center;
     color: rgb(126, 57, 10);}
   
    
.box1 h1{
    font-family: Hind , sans-serif;
    text-shadow: 1.5px 1.5px 1.5px rgb(0, 0, 0);   
}

.box1 h3{
   
    text-shadow:1px 1px 1px black;
    line-height: 2px;
}
.box1 h6{
   
    text-shadow: 1px 1px 1px black;
    line-height: 2px;
}

.box1 img {
   

    height: 400px;
    width: 300px;
    padding-left: 0px;
    border: 4px solid rgb(0, 0, 0);
    
   
}
.box2 {
    width: 1460px;
    height: 200px;
    padding: 20px;
   font-weight: justify;
   }
   

.box2 h2{
    font-family: Hind , sans-serif;
    text-shadow: 2px 2px 2px black;
    color: rgb(126, 57, 10);
    
}

.box2 p{
    font-family: Hind , sans-serif;
    line-height: 22px;
    text-align: justify;
  text-justify: inter-word;
 color: white;
 text-shadow: 2px 2px 2px rgb(0, 0, 0);
} 

.box3 {
    width: 1460px;
    height: 280px;
    padding: 20px;
    text-shadow: 2px 2px 2px black;
    font-weight: justify;
    
}
.box3 h2{
    font-family: Hind , sans-serif;
    color:rgb(126, 57, 10);
   
}

.box3 p{
    font-family: Hind , sans-serif;
    line-height: 22px;
    text-align: justify;
  text-justify: inter-word;
  color: white;
} 

.box4 {
    width: 1460px;
    height: 380px;
    padding: 20px;
    text-shadow: 2px 2px 2px black;
    
    font-weight: justify;
}
.box4 h2{
    font-family: Hind , sans-serif;
    color: rgb(126, 57, 10);
}

.box4 p{
    font-family: Hind , sans-serif;
    line-height: 22px;
    text-align: justify;
  text-justify: inter-word;
  color: white;
} 

.box5{
    width: 1460px;
    height: 300px;
    padding: 20px;
    text-shadow: 2px 2px 2px black;
    color: white;
    font-weight: justify;
}
.box5 h2{
    font-family: Hind , sans-serif;
    color: rgb(126, 57, 10);
}

.box5 p{
    font-family: Hind , sans-serif;
    line-height: 22px;
    text-align: justify;
  text-justify: inter-word;
} 

